*{
 font-family: Roboto;
 
}
a {
  text-decoration: none;

}


ul {
  list-style-type: none; /* Remove o ponto/bullet point */
}


body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

footer{
    text-align: center;
    
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p{
     margin-bottom: 0;
}

.imgnavbar{
    width: 150px;
    
    
}

#navbar img.dark-theme {
    filter: invert(1);
}




.second-ul {
  margin-right: auto;
  margin-left: 250%;
}

.linha {

    
 
  border-bottom: 1px solid #c0c0c0

 
 
 
  
}

li:last-child {
  border-bottom: none;
}

.navbar .offcanvas a:hover{
  color: #1E90FF
}

.cor{
  color: #1E90FF
}


@media (max-width: 1000px) {
  /* Regras de estilo quando a tela tem até 768px de largura */
  .second-ul {
    margin-right: 0;
    margin-left: 0;
  }

  .navbar li {

    
 
    border-bottom: 1px solid black;

    padding: 15px;
   
   
    
  }
  
  .navbar li:last-child {
    border-bottom: none;
  }


  .linha{
    border-bottom: none
  }
 
  
}




#info-container {
  display: flex;
  align-items: center;
}

#info-container ion-icon {
 font-size: 20px;
  color: #f2a340;
  margin-right: 5px;
  vertical-align: middle;
 
}

.iconCentralizar{
  vertical-align: middle;
  font-size: 20px;
  color: #f2a340;
  margin-right: 5px;

}

.vertical-align-middle {
  
  display: flex; 
  align-items: center;
 
 
 
}
svg{
  cursor: pointer;
}
.cursor{
  cursor: pointer;
}



.custom-btn {
  color: #f2a340;
}

.carousel img{
 
    
   
    border-radius: 10px;
   
}

.container-img{
    position: relative;
   
}

.conteiner-search {
    position: relative;
    z-index: 2;
    top: 73%;
    transform: translateY(-50%);
    left: 20%;
    
}

.img-logo{
   
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 2px;
        
      
}



.txt{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-transform: uppercase;
  font-weight: bold;
  
  
}



.card {
    
    height: 100%;
    
    border-radius: 12px;
  }

.row {
    display: flex;
  }

  
  .btg {
    margin-top: auto;
  }


.txt_dados_empresa{
  text-align: justify;
  text-indent: 30px;  
}




.img_dados_empresa {
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px  ;
 
  
}

.img_logoDadosServico{
  min-width: 25px;
  min-height: 25px;
  max-width: 25px;
  max-height: 25px;

}

.img_edit {
 
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 10px  ;
  
}



.img_tela_home {
  min-width: 158px;
  min-height: 120px;
  max-width: 158px;
  max-height: 120px;
  border-radius: 10px 10px 0 0;
  overflow: hidden
}

/*largura da barra de rolagem */
::-webkit-scrollbar{
  width: 8px;
  
  
  
}





::-webkit-scrollbar-thumb {
  height: 20px; /* Defina a altura desejada aqui */
  border-radius: 15px;
  background-color: #11101d;
  
}

/*mudar de cor ao encostar na rolagem la ele */
::-webkit-scrollbar-thumb:hover{
  background-color: #11101d;
 
}

.listadepagamentos{
  display: inline-flex; 
  align-items: center;
}


.coment {
  max-height: 270px; /* Ajuste a altura máxima conforme necessário */
  min-height: 260px;
  overflow: auto;
}

.textagendamento{
  font-size: 14px;
}

.tituloagendamento{
  font-size: 18px;
}
.truncate-cell {
  max-width: 400px; /* Defina a largura máxima desejada para a célula */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}








  