.img_dashboardbusiness{
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
    border-radius: 10px;
    border: 1px solid #D3D3D3
}
.caption .caption-badge.caption-secondary,
.caption .caption-badge.caption-primary,
.caption .caption-badge.caption-info,
.caption .caption-badge.caption-warning,
.caption .caption-badge.caption-danger,
.caption .caption-badge.caption-success {
    display: none;
}

.cards{
   min-height: 100px;
   max-height: 100px;
}


/*largura da barra de rolagem */
::-webkit-scrollbar {
    width: 8px;



}

::-webkit-scrollbar-thumb {
    height: 20px;
    /* Defina a altura desejada aqui */
    border-radius: 15px;
    background-color: #11101d;

}

/*mudar de cor ao encostar na rolagem la ele */
::-webkit-scrollbar-thumb:hover {
    background-color: #11101d;

}


.btndashboardservico {


    justify-content: center;
    /* Centraliza o texto horizontalmente */
    align-items: center;
    /* Centraliza o texto verticalmente */
    color: black;
    border-color: #D3D3D3;
    margin-top: 5px;
    min-width: 180px;

    max-width: 180px;

}

/* Estilos para telas menores que 479px (celular) */
@media (max-width: 479px) {

    .btndashboardservico {


        justify-content: center;
        /* Centraliza o texto horizontalmente */
        align-items: center;
        /* Centraliza o texto verticalmente */
        color: black;
        border-color: #D3D3D3;
        margin-top: 5px;
        min-width: 120px;

        max-width: 120px;

    }

}





