.img_dashboardbusiness{
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
    border-radius: 10px;
    border: 1px solid #D3D3D3
}
.caption .caption-badge.caption-secondary,
.caption .caption-badge.caption-primary,
.caption .caption-badge.caption-info,
.caption .caption-badge.caption-warning,
.caption .caption-badge.caption-danger,
.caption .caption-badge.caption-success {
    display: none;
}

.cards{
   min-height: 100px;
   max-height: 100px;
}
