*{
 font-family: Roboto;
}
body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

footer{
    text-align: center;
    
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p{
     margin-bottom: 0;
}

#navbar img{
    width: 150px;
    
    
}

#navbar img.dark-theme {
    filter: invert(1);
}



#info-container {
  display: flex;
  align-items: center;
}

#info-container ion-icon {
 font-size: 20px;
  color: #f2a340;
  margin-right: 5px;
 
}

.carousel img{
 
     
    /* height: 320px; */
   
    border-radius: 10px;
   
}

.container-img{
    position: relative;
   
}

.conteiner-search {
    position: relative;
    z-index: 2;
    top: 73%;
    transform: translateY(-50%);
    left: 20%;
    
}
